body{
	margin:0px;
	padding: 0px;
	min-height: 100vh;
	background-image: url(../images/hi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	}
header{
	background-color: black;
}

.main-index{
	/*padding: 100px;*/
	min-height: 100vh;
	opacity: 0.9;
}
main.contact{
	min-height: 100vh;
	background-color: white;
	opacity: 0.9;
}

.message {
	position: absolute;
	top: 50%;
	left: 30%;
	margin-top: -50px;
}

li a{
	color: white;
	text-decoration: none;
}
li a.active{
	color: indigo;
}
li a:hover:not(.active){
	text-decoration: underline;
	color: blue;
}
body .about{
	background-color: transparent;

}
.big {
 	display: flex;
 	justify-content: center;
 }
.box{
	position: relative;
	width: 25vw;
	height: 50vh;
	min-height: 320px;
	overflow: hidden;
	z-index: 2;
	box-sizing: border-box;
	padding: 30px;
	box-shadow: -10px 25px 50px rgba(0,0,0,0.3);
	transition: all 0.5s ease-in;
}
.box::before{
	position: absolute;
	top: -20px;
	left: 5px;
	width: 100%;
	height: 100%;
	font-size: 120px;
	opacity: 0.2;
	background:transparent;
	pointer-events: none;
}
.box::after{
	position: absolute;
	bottom:-10%;
	right: 5%;
	font-size: 120px;
	opacity: 0.2;
	filter: invert(1);
	background:transparent;
	pointer-events: none;
}
.box:hover{
	color: white;
	box-shadow: 20px 50px 100px rgba(0,0,0,0.5);
}
.bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: all 0.5s ease-in;
	pointer-events: none;
	width: 100%;
	height: -50%;
}
.box.box1:hover,
.box.box1:hover~.bg{
	opacity: 1;
	background:#e2a9e5;
	background:linear-gradient(135deg,#e2a9e5,15%,#2b94e5 100%);
	filter: progid:DXImagetransform.microsoft.gradient(startcolorstr='#e2a9e5',endcolorstr=#2b94e5,gradienttype=1);
}
.box.box2:hover,
.box.box2:hover~.bg{
	opacity: 1;
	background:#e2a9e5;
	background:linear-gradient(135deg,#e2a9e5,15%,darkviolet 100%);
	filter: progid:DXImagetransform.microsoft.gradient(startcolorstr='#e2a9e5',endcolorstr=darkviolet,gradienttype=1);
}
.box.box3:hover,
.box.box3:hover~.bg{
	opacity: 1;
	background:#e2a9e5;
	background:linear-gradient(135deg,#e2a9e5,15%,darkgray 100%);
	filter: progid:DXImagetransform.microsoft.gradient(startcolorstr='#e2a9e5',endcolorstr=darkgray,gradienttype=1);
}
footer{
	background-color: gray;
	height: 90px;
	text-align: center;

}