body{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	background-color: transparent;
}
main{
	text-align: center;
	margin-top: 50px;
}
#dp{
	width: 400px;
}
#row{
	opacity: 0.9;
}

footer{
	background-color: grey;
	min-width: 100vw;
}
