body{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-link{
    text-transform: capitalize;
}
.btn{
    border-style: solid;
}
.col-sm-6{
    border-top-right-radius: 40px;
}